<div class="container">
  <h2>List of Books</h2>
  {{#if successAlert}}
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> {{successAlert}}
    </div>
  {{/if}}
  <p style="text-align:right"><a href="/book/addBook">Add Books</a></p>
  <div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th data-sort="id">Sr No</th>
        <th data-sort="name">Book Name</th>
        <th data-sort="publisher">Publisher</th>
        <th data-sort="author">Author</th>
        <th data-sort="price">Price</th>
        <th data-sort="genere">Gener</th>
        <th >View/Edit</th>
      </tr>
    </thead>
    <tbody>
        {{#each booksResult}}
         {{#if this.name}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.publisher}}</td>
                <td>{{this.author.firstname}} {{this.author.lastname}}</td>
                <td>{{this.price}}</td>
                <td>{{this.genere}}</td>
                <td>
                    {{#if this.setEdit}}<button class="btn button-primary" data-viewId="{{this.id}}" data-condition="edit" data-toggle="modal" data-target="#myModal">Edit</button>{{/if}}
                    <button class="btn btn-primary" data-viewId="{{this.id}}" data-condition="view" data-toggle="modal" data-target="#myModal">View</button>
                </td>
            </tr>
          {{/if}}
      {{/each}}
      
    </tbody>
  </table>
   </div>
</div>

